header{
    background-color: #AF9E9E;
}
.logo_principal{
    width: 150px;
    height: auto;
}

.header_menu{
    position: absolute;
    top: 50px;
    right: 12px;
    background-color: #AF9E9E;
    cursor: pointer;
}
.icon_cross_menu{
    position: absolute;
    bottom: 620%;
    left: 127px;
    border: none;   
    background-color: #af9e9e;
}
.imgcross {
    position: relative;
    z-index: 10;
}

.ululul{
    margin-bottom: 56%;
}
.icon_cross_menu_gb{
    position: absolute;
    bottom: 620%;
    left: 126px;
    border: none;   
    background-color: #af9e9e;
}
