header{
    background-color: #AF9E9E;
}
body {
    background-color: #FFF3F3;
    margin: auto;
}
footer{
    background-color: #221F1F; 
    color: #FFFFFF;
}
img {
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
